:root {
  --black: #030303;
  --black95: #030303f0;
  --black90: #030303ee;
  --black75: #030303af;
  --black60: #030303a0;
  --black50: #03030385;
  --black25: #03030350;
  --black10: #03030320;
  --dark: #151718;
  --gray950: #171819;
  --gray900: #202425;
  --gray850: #222325;
  --gray800: #2f3234;
  --gray700: #36393a;
  --gray600: #424748;
  --gray500: #5d6263;
  --gray400: #6b6f71;
  --gray300: #737779;
  --gray200: #9aa0a4;
  --gray100: #b2b7bb;
  --gray50: #cacfd3;
  --gray25: #d7dce0;
  --light: #eceff1;
  --white: #fefefe;

  --pink: #d96ee9;
  --pink-hover: #b74cc7;
  --purple: #b37cff;
  --purple-hover: #9d63ed;
  --navy: #2c384a;
  --navy-hover: #222d3d;
  --blue: #039BE5;
  --blue-hover: #0479b3;
  --light-blue: #00d9ff;
  --light-blue-hover: #00a6c4;
  --yellow: #FFCA28;
  --yellow-hover: #dcac1b;
  --amber: #FFA000;
  --amber-hover: #ff8400;
  --orange: #F57C00;
  --orange-hover: #d56401;
  --teal: #46dbbd;
  --teal-hover: #1caa76;
  --green: #7fdd65;
  --green-hover: #62c447;
  --light-green: #22da6b;
  --light-green-hover: #25c47c;
  --red: #f45656;
  --red-hover: #ef4444;

  --black-gradient: linear-gradient(160deg, var(--black95) 0%, var(--dark)100%);
  --dark-gradient: linear-gradient(165deg, var(--dark) 0%, var(--gray850) 100%);
  --light-gradient: linear-gradient(135deg, var(--light) 0%, var(--white) 100%);
  --pink-gradient: linear-gradient(135deg, var(--pink) 0%, var(--pink-hover) 100%);
  --purple-gradient: linear-gradient(135deg, var(--purple) 0%, var(--purple-hover) 100%);
  --navy-gradient: linear-gradient(135deg, var(--navy) 0%, var(--navy-hover) 100%);
  --blue-gradient: linear-gradient(135deg, var(--blue) 0%, var(--blue-hover) 100%);
  --light-blue-gradient: linear-gradient(135deg, var(--light-blue) 0%, var(--light-blue-hover) 100%);
  --yellow-gradient: linear-gradient(135deg, var(--yellow) 0%, var(--yellow-hover) 100%);
  --amber-gradient: linear-gradient(135deg, var(--amber) 0%, var(--amber-hover) 100%);
  --orange-gradient: linear-gradient(135deg, var(--orange) 0%, var(--orange-hover) 100%);
  --teal-gradient: linear-gradient(135deg, var(--teal) 0%, var(--teal-hover) 100%);
  --green-gradient: linear-gradient(135deg, var(--green) 0%, var(--green-hover) 100%);
  --light-green-gradient: linear-gradient(135deg, var(--light-green) 0%, var(--light-green-hover) 100%);
  --red-gradient: linear-gradient(135deg, var(--red) 0%, var(--red-hover) 100%);

  --shadow: black 2px 2px 8px;
  --shadow-sm: black 1px 1px 4px;
  --shadow-lg: var(--black) 4px 4px 20px;

  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--black);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}


a,
a:hover {
  background-color: transparent;
  text-decoration: none;
  color: currentColor;
}



input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}


select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}



::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

.btn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: calc(auto);
  letter-spacing: 1.25px;
  font-weight: 500;
  transition: all 0.25s ease;
}

.btn-sm {
  height: 2.25rem;
  border-radius: 2.5px;
  width: clamp(4.5rem, auto, 50%);

}

.btn-md {
  height: 2.5rem;
  border-radius: 3px;
  width: clamp(5rem, auto, 50%);

}

.btn-lg {
  height: 2.75rem;
  border-radius: 3.5px;
  width: clamp(7rem, auto, 50%);

}

.btn-block {
  height: 2.5rem;
  border-radius: 3px;
  width: calc(100% - 2rem);

}

.btn-rounded {
  border-radius: 500px;
}



.black {
  color: var(--black);
}

.black95 {
  color: var(--black95)
}

.black90 {
  color: var(--black90)
}

.black75 {
  color: var(--black75)
}

.black60 {
  color: var(--black60)
}

.black50 {
  color: var(--black50)
}

.black25 {
  color: var(--black25)
}

.black10 {
  color: var(--black10)
}

.dark {
  color: var(--dark)
}

.gray950 {
  color: var(--gray950)
}

.gray900 {
  color: var(--gray900)
}

.gray850 {
  color: var(--gray850)
}

.gray800 {
  color: var(--gray800)
}

.gray700 {
  color: var(--gray700)
}

.gray600 {
  color: var(--gray600)
}

.gray500 {
  color: var(--gray500)
}

.gray400 {
  color: var(--gray400)
}

.gray300 {
  color: var(--gray300)
}

.gray200 {
  color: var(--gray200)
}

.gray100 {
  color: var(--gray100)
}

.gray50 {
  color: var(--gray50)
}

.gray25 {
  color: var(--gray25)
}

.white {
  color: var(--white)
}

.light {
  color: var(--light)
}

.bg-black {
  background-color: var(--black)
}

.bg-black95 {
  background-color: var(--black95)
}

.bg-black90 {
  background-color: var(--black90)
}

.bg-black75 {
  background-color: var(--black75)
}

.bg-black50 {
  background-color: var(--black50)
}

.bg-black25 {
  background-color: var(--black25)
}

.bg-black10 {
  background-color: var(--black10)
}

.bg-black-gradient {
  background: var(--black-gradient);
}

.bg-dark {
  background-color: var(--dark)
}

.bg-dark-gradient {
  background: var(--dark-gradient);
}

.bg-gray950 {
  background-color: var(--gray950)
}

.bg-gray900 {
  background-color: var(--gray900)
}

.bg-gray850 {
  background-color: var(--gray850)
}

.bg-gray800 {
  background-color: var(--gray800)
}

.bg-gray700 {
  background-color: var(--gray700)
}

.bg-gray600 {
  background-color: var(--gray600)
}

.bg-gray500 {
  background-color: var(--gray500)
}

.bg-gray400 {
  background-color: var(--gray400)
}

.bg-gray300 {
  background-color: var(--gray300)
}

.bg-gray200 {
  background-color: var(--gray200)
}

.bg-gray100 {
  background-color: var(--gray100)
}

.bg-gray50 {
  background-color: var(--gray50)
}

.bg-gray25 {
  background-color: var(--gray25)
}

.bg-light {
  background-color: var(--light)
}

.bg-white {
  background-color: var(--white)
}

.bg-light-gradient {
  background: var(--light-gradient);
}


.purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-purple-hover {
  background-color: var(--purple-hover);
}

.bg-purple-gradient {
  background: var(--purple-gradient);
}

.pink {
  color: var(--pink);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-pink-hover {
  background-color: var(--pink-hover);
}

.bg-pink-gradient {
  background: var(--pink-gradient);
}

.bg-navy {
  background-color: var(--navy);
}

.bg-navy-hover {
  background-color: var(--navy-hover);
}

.bg-navy-gradient {
  background: var(--navy-gradient);
}

.blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-blue-hover {
  background-color: var(--blue-hover);
}

.bg-blue-gradient {
  background: var(--blue-gradient);
}

.light-blue {
  color: var(--light-blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-light-blue-hover {
  background-color: var(--light-blue-hover);
}

.bg-light-blue-gradient {
  background: var(--light-blue-gradient);
}

.yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow)
}

.bg-yellow-hover {
  background-color: var(--yellow-hover);
}

.bg-yellow-gradient {
  background: var(--yellow-gradient);
}

.amber {
  color: var(--amber);
}

.bg-amber {
  background-color: var(--amber)
}

.bg-amber-hover {
  background-color: var(--amber-hover);
}

.bg-amber-gradient {
  background: var(--amber-gradient);
}

.orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange)
}

.bg-orange-hover {
  background-color: var(--orange-hover);
}

.bg-orange-gradient {
  background: var(--orange-gradient);
}

.teal {
  color: var(--teal);
}

.bg-teal {
  background-color: var(--teal);
}

.bg-teal-hover {
  background-color: var(--teal-hover);
}

.bg-teal-gradient {
  background: var(--teal-gradient);
}

.light-green {
  color: var(--light-green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.bg-light-green-hover {
  background-color: var(--light-green-hover);
}

.bg-light-green-gradient {
  background: var(--light-green-gradient);
}

.green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green)
}

.bg-green-hover {
  background-color: var(--green-hover);
}

.bg-green-gradient {
  background: var(--green-gradient);
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red)
}

.bg-red-hover {
  background-color: var(--red-hover);
}

.bg-red-gradient {
  background: var(--red-gradient);
}

.border {
  border-width: 2px;
  border-style: solid;
}

.border-sm {
  border-width: 1px;
  border-style: solid;
}

.border-lg {
  border-width: 3px;
  border-style: solid;
}

.border-pink {
  border-color: var(--pink);
}

.border-purple {
  border-color: var(--purple);
}

.border-yellow {
  border-color: var(--yellow);
}

.border-orange {
  border-color: var(--orange);
}

.border-amber {
  border-color: var(--amber)
}

.border-red {
  border-color: var(--red);
}

.border-navy {
  border-color: var(--navy)
}

.border-blue {
  border-color: var(--blue);
}

.border-light-blue {
  border-color: var(--light-blue);
}

.border-teal {
  border-color: var(--teal);
}

.border-light-green {
  border-color: var(--light-green);
}

.border-green {
  border-color: var(--green);
}

.border-black {
  border-color: var(--black);
}

.border-dark {
  border-color: var(--dark);
}

.border-gray {
  border-color: var(--gray200);
}

.border-white {
  border-color: var(--white);
}

.border-light {
  border-color: var(--light);
}

.shadow {
  box-shadow: var(--shadow);
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}





.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.container {
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}



.vw100 {
  width: 100vw;
}

.vw90 {
  width: 90vw;
}

.vw75 {
  width: 75vw;
}

.vw50 {
  width: 50vw;
}

.vw25 {
  width: 25vw;
}

.vw20 {
  width: 20vw;
}

.vw15 {
  width: 15vw;
}

.vw10 {
  width: 10vw;
}

.vw5 {
  width: 5vw;
}

.vh100 {
  height: 100vh;
}

.vh75 {
  height: 75vh;
}

.vh50 {
  height: 50vh;
}

.vh25 {
  height: 25vh;
}

.vh20 {
  height: 20vh;
}

.vh15 {
  height: 15vh;
}

.vh10 {
  height: 10vh;
}

.vh5 {
  height: 5vh;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w75 {
  width: 75%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.w20 {
  width: 20%;
}

.w15 {
  width: 15%;
}

.w10 {
  width: 10%;
}

.w5 {
  width: 5%;
}

.w-auto {
  width: auto;
}

.h100 {
  height: 100%;
}

.h75 {
  height: 75%;
}

.h50 {
  height: 50%;
}

.h25 {
  height: 25%;
}

.h20 {
  height: 20%;
}

.h15 {
  height: 15%;
}

.h10 {
  height: 10%;
}

.h5 {
  height: 5%;
}

.h-auto {
  height: auto;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: .25rem;
}

.p2 {
  padding: .5rem;
}

.p3 {
  padding: .75rem;
}

.p4 {
  padding: 1rem;
}

.p5 {
  padding: 1.5rem;
}

.p6 {
  padding: 2rem;
}

.p7 {
  padding: 2.5rem;
}

.p8 {
  padding: 3rem;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py7 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.px1 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.px2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px7 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px8 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pt0 {
  padding-top: 0;
}

.pt1 {
  padding-top: 0;
}

.pt2 {
  padding-top: .25rem;
}

.pt3 {
  padding-top: .5rem;
}

.pt4 {
  padding-top: 1rem;
}

.pb0 {
  padding-bottom: 0;
}

.pb1 {
  padding-bottom: .25rem;
}

.pb2 {
  padding-bottom: .5rem;
}

.pb3 {
  padding-bottom: .75rem;
}

.pb4 {
  padding-bottom: 1rem;
}

.pr0 {
  padding-right: 0;
}

.pr1 {
  padding-right: .25rem;
}

.pr2 {
  padding-right: .5rem;
}

.pr3 {
  padding-right: .75rem;
}

.pr4 {
  padding-right: 1rem;
}

.pl0 {
  padding-left: 0;
}

.pl1 {
  padding-left: .25;
}

.pl2 {
  padding-left: .5rem;
}

.pl3 {
  padding-left: .75rem;
}

.pl4 {
  padding-left: 1rem;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m0 {
  margin: 0;
}

.m1 {
  margin: .25rem;
}

.m2 {
  margin: .5rem;
}

.m3 {
  margin: .75rem;
}

.m4 {
  margin: 1rem;
}

.m5 {
  margin: 1.5rem;
}

.m6 {
  margin: 2rem;
}

.m7 {
  margin: 2.5rem;
}

.m8 {
  margin: 3rem;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.my2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my3 {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.my4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my7 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my8 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx1 {
  margin-left: .25rem;
  margin-right: .25rem;
}

.mx2 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.mx3 {
  margin-left: .75rem;
  margin-right: .75rem;
}

.mx4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx7 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mx8 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 0;
}

.mt2 {
  margin-top: .25rem;
}

.mt3 {
  margin-top: .5rem;
}

.mt4 {
  margin-top: 1rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: .25rem;
}

.mb2 {
  margin-bottom: .5rem;
}

.mb3 {
  margin-bottom: .75rem;
}

.mb4 {
  margin-bottom: 1rem;
}

.mr0 {
  margin-right: 0;
}

.mr1 {
  margin-right: .25rem;
}

.mr2 {
  margin-right: .5rem;
}

.mr3 {
  margin-right: .75rem;
}

.mr4 {
  margin-right: 1rem;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: .25
}

.ml2 {
  margin-left: .5rem
}

.ml3 {
  margin-left: .75rem
}

.ml4 {
  margin-left: 1rem
}

.mt-auto {
  margin-top: auto
}

.mb-auto {
  margin-bottom: auto
}

.ml-auto {
  margin-left: auto
}

.mr-auto {
  margin-right: auto
}

.absolute {
  position: absolute
}

.fixed {
  position: fixed
}

.relative {
  position: relative
}

.text-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.text-left {
  padding-right: auto;
  padding-left: 0;
  text-align: left
}

.text-right {
  padding-left: auto;
  padding-right: 0;
  text-align: right
}



.h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

.h2 {
  font-size: 1.8rem;
  font-weight: 500;
}


.h3 {
  font-size: 1.6rem;
  font-weight: 400;
}


.h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

.h5 {
  font-size: 1.25rem;
  font-weight: 300;
}

.h6 {
  font-size: 1.05rem;
  font-weight: 300;
}


.p {
  font-size: 1rem;
  font-weight: 200;
}

.small {
  font-size: 75%;
  font-weight: 200;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.rounded {
  border-radius: 3px;
}

.rounded-sm {
  border-radius: 2px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 500px;
}

.rounded-circle {
  border-radius: 50%;
}

.alert-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(2.5rem, 5rem, 7rem);
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 90%;
  font-weight: 300;
  transition: all 200ms ease;
}

.close {
  margin: auto;
  width: 45px;
  height: 45px;
  padding: 0.1rem;
  border-radius: 50%;
  color: var(--black);
  background: var(--black10);
}

.fade {
  transition: all 300ms ease;

}


@media screen and (min-width:375px) {
  :root {
    font-size: 75%
  }
}

@media screen and (min-width:575px) {
  :root {
    font-size: 80%
  }
}

@media screen and (min-width:768px) {
  :root {
    font-size: 85%
  }
}

@media screen and (min-width:960px) {
  :root {
    font-size: 90%
  }

  [role=button],
  button:not(:disabled),
  [type=button]:not(:disabled),
  [type=reset]:not(:disabled),
  [type=submit]:not(:disabled) {
    cursor: pointer;
  }
}

@media screen and (min-width:1024px) {
  :root {
    font-size: 90%
  }




}

@media screen and (min-width:1080px) {
  :root {
    font-size: 95%
  }
}

@media screen and (min-width:1112px) {
  :root {
    font-size: 100%
  }
}

@media screen and (min-width:1290px) {
  :root {
    font-size: 105%
  }
}

@media screen and (min-width:1366px) {
  :root {
    font-size: 110%
  }
}

@media screen and (min-width:1440px) {
  :root {
    font-size: 115%
  }
}

@media screen and (min-width:1920px) {
  :root {
    font-size: 120%
  }
}

@media screen and (min-width:2560px) {
  :root {
    font-size: 125%
  }
}

@media screen and (min-width:2880px) {
  :root {
    font-size: 130%
  }
}